@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
 <a asp-action="Index" asp-controller="Pasajero" >Pasajero</a>
@Html.ActionLink("Ir a Pasajero","Index","Pasajero")

 pasajero","Index");